.cardDrink{
  width : 600px;
  border-radius : 5px;
  padding :15px;
  margin : 20px;
  align-items:center ;
  border-radius: 25px;
  box-shadow : 5px 5px 15px rgba(0,0,0,0.4);
  }
  
  .drinkImg{
      height : 250px;
      width: auto;
      border-radius : 50%;
      box-shadow : 5px 5px 5px rgba(0,0,0,0.4);
  }
  .cardDrink-element{
     display: flex;
      padding : 15px;
      margin : 15px;
      align-items: center;
  }
  .cardDrink-title{
      flex-direction: column;
  }
  .cocktail-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cocktail-making {
  text-align: left;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 35%;
  height: auto;
}
.ingredients-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.ingredients-list ul {
  list-style: none;
  margin: 5px;
}

.ingredient {
  padding: 5px;
}

.cocktail-intro {
  text-align: right;
  margin: 15px;
  width: 35%;
}
.cocktail-image {
  width: 250px;
  height: auto;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}