.card-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height : 100%;
  width:100%;
  padding-bottom : 150px;
  padding-top : 50px;
}
.cardDrink {
  display: block;
  border-radius: 5px;
  align-items: center;
  align-self: center;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

}
.inner-cardDrink{
  padding: 15px;
  margin: 20px;
}

.cardDrink-element {
  display: flex;
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.cardDrink-title {
  flex-direction: column;
}

.cocktail-elements {
  display: flex;
}

.cocktail-making {
  text-align: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 35%;
  height: auto;
}

.ingredients-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.ingredients-list ul {
  margin: 5px;
}

.ingredient {
  padding: 5px;
}

.cocktail-intro {
  margin: 15px;
}

.cocktail-image {
  height: auto;
  width: 250px;
  border-radius: 15%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

@media (min-width:700px) {
  .cocktail-making {
    padding: 20px;
    border-radius: 20%;
  }
  .cardDrink {
    width : 90%;
    height: 90%;
    font-size: 2em;
  }
  .cocktail-intro {
    width: 35%;
    text-align: right;
  }
  .cocktail-elements {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width:700px) {
  .cardDrink {
    width: 90%;
  }
  .cocktail-elements {
    flex-direction: column;
    justify-content: space-between;
  }
  .cocktail-intro {
    font-size: 0.8rem;
    text-align: center;
  }
  .cocktail-making {
    text-align: center;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
  }
}