.footer{
background:white;
font-size:.5rem;
position: fixed;
display:flex;
flex-wrap:wrap;
justify-content: space-around;
align-items: center;
height : auto;
min-height : 50px;
bottom:0;
width: 100%;
padding-top:1em;
}
.legal{
    width : 50%;
    text-align: center;
}