.cocktail-list-drinkThumb {
    width: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.flex-cocktail-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cocktail-littlebox {
    min-width: 300px;
    min-height: 100px;
    text-align:center;
    background : beige;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

.sticky-cocktail {
    width: 75%;
    height: 75%;
    position: fixed;
    background: white;
    opacity: 90%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.quit-button {
    position: absolute;
    background : red;
    color:white;
    font-weight: bold;
    border-radius:5px;
    right: 15px;
    top: 15px;
}