.cocktail-box {
    margin: 15px;
}
.cocktail-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cocktail-intro{
    text-align: right;
    margin:15px;
    width : 35%;
}
.cocktail-making{
    text-align: left;
    padding:15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius:20px;
    width : 35%;
    height: auto;
}
.ingredients-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.ingredients-list ul{
    list-style: none;
    margin : 5px;
}
.ingredient {
    padding: 5px;
}
.cocktail-image {
    width: 250px;
    height: auto;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}