.searched-drinkthumb {
    width: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.searched-cocktailList{
display:flex;
flex-direction:row;
flex-wrap:wrap;
padding-bottom : 150px;
}