* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  background-color: #f6f3ea;
  background-size: 32px 32px;
  background-image: repeating-linear-gradient( 45deg, #f3eed9 0, #f3eed9 3.2px, #f6f3ea 0, #f6f3ea 50%);
  width : 100%;
  min-height : 100%;
}

.app {
min-height:100%;
}